.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
}

.offersHeader{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offersHeader h1{
    color: white;
    font-size: 80px;
    font-weight: 600;
}

.offersHeader p{
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.offersHeader button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: white;
    border: none;
    color: #004aad;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}